* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.596)), url(https://cdn.bmwblog.com/wp-content/uploads/2021/12/BMW-M4-Competition-xDrive-Test-Drive-2-of-31.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    display: flex;
    position: relative;
    padding: 36px 0px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}


.logo {
    width: 200px;
    cursor: pointer;
}

li {
    list-style: none;
    display: inline-block;
    margin: 0 25px;
    position: relative;
}

li a {
    text-decoration: none;
    color: #867979;
    text-transform: uppercase;
    font-size: 20px;
    transition: all .5s;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: aliceblue;
}

.container h1 {
    font-size: 60px;
    word-spacing: 25px;
}

.content p {
    font-size: 25px;
    font-weight: 700;
    margin: 20px;
}

#btn {
    width: 150px;
    height: 50px;
    padding: 16px 0;
    margin: 20px 10px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 30px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    cursor: pointer;
}

#btn:hover {

    border-color: rgb(80, 90, 90);
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    transform: scale(1.2);
    transform: all .5s;
}

li:hover {
    transform: scale(1.05);
    transform: all .5s;
    }

    li a:hover {
        color: rgb(0, 162, 255);
    }

    /*<======================================================================> */
    /* 2-Qism */
    .card-section {
        width: 100%;
        height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0, 0,0, 0.5)), url(https://static1.topspeedimages.com/wordpress/wp-content/uploads/2023/01/bmw-m4-competition-cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 12px;
}
.card{
    width: 400px;
    height: 500px;
    border: 1px solid rgb(0, 0, 0);
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0, 0,0, 0.5)), url(https://avatars.mds.yandex.net/i?id=f1b9e65233ff409a08821cfae3282ea9_l-4935684-images-thumbs&ref=rim&n=13&w=1080&h=1350);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.card-text{
    width: 100%;
    height: 70%;
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
}
.card-text p{
    pad: 10px 24px;
    text-align: center;
    line-height: 2;
    display: none;
}
.card-buttons{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.card-buttons button{
    width: 150px;
    padding: 10px 10px;
    background-color: transparent;
    border: 2px solid rgb(0, 255, 213);
    border-radius: 25px;
    color: #fff;
}

.card h1{
    color: transparent;
    text-align: center;
}

.card:hover{
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.5)), url(https://i.pinimg.com/736x/6c/fc/e8/6cfce84f07fad1b22a9a26af4a8b23f8.jpg);
  background-size: cover;
  background-position: center;
      transition: all .9s;
    transform: scale(1.02);
}

.card:hover .card-text p{
    color: #fff;
    transition: all .9s;    
    display:inline;
    justify-content: center;
    align-items: center;

}

.card:hover  h1{
    display: block;
    color:#fff;
    transition: all .9s;
    transform: scale(1.02);
}

.card:hover .card-buttons button {
    border: 2px solid rgb(255, 166, 0);  
    transform: scale(1.02);    
    transition: all 0.5s;   
}


.card:hover {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.5)), url(https://i.pinimg.com/736x/94/a4/58/94a4583ac4eb271d86e9d3f60b995b7e.jpg);
  background-size: cover;
  background-position: center;
      transition: all .9s;
    transform: scale(1.02);
}





/* =============================================== */











.card2{
    width: 400px;
    height: 500px;
    border: 1px solid rgb(0, 0, 0);
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0, 0,0, 0.5)), url(https://avatars.mds.yandex.net/i?id=82fa4d49fda931712f0984d5c06dae56_l-2366455-images-thumbs&ref=rim&n=13&w=640&h=640);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.card2-text{
    width: 100%;
    height: 70%;
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
}
.card2-text p{
    pad: 10px 24px;
    text-align: center;
    line-height: 2;
    display: none;
}
.card2-buttons{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.card2-buttons button{
    width: 150px;
    padding: 10px 10px;
    background-color: transparent;
    border: 2px solid rgb(0, 255, 213);
    border-radius: 25px;
    color: #fff;
}

.card2 h1{
    color: transparent;
    text-align: center;
}

.card2:hover{
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.5)), url(https://avatars.mds.yandex.net/i?id=1deffba2e6901b72a9288be5ceb94579_l-8497316-images-thumbs&ref=rim&n=13&w=1080&h=1346);
  background-size: cover;
  background-position: center;
      transition: all .9s;
    transform: scale(1.02);
}

.card2:hover .card2-text p{
    color: #fff;
    transition: all .9s;    
    display:inline;
}

.card2:hover  h1{
    display: block;
    color:#fff;
    transition: all .9s;
    transform: scale(1.02);
}

.card2:hover .card2-buttons button {
    border: 2px solid   rgb(255, 145, 0);  
    transform: scale(1.02);    
    transition: all 0.5s;   
}



/* ======================================= */


.card3{
    width: 400px;
    height: 500px;
    border: 1px solid rgb(0, 0, 0);
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0, 0,0, 0.5)), url(https://s0.smartresize.com/wallpaper/785/802/HD-wallpaper-bmw-m4-ayarsizgarage-f30-f80-f82-f90-karm4-m2-m3-m4-m5-thumbnail.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.card3-text{
    width: 100%;
    height: 70%;
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
}
.card3-text p{
    pad: 10px 24px;
    text-align: center;
    line-height: 2;
    display: none;
}
.card3-buttons{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.card3-buttons button{
    width: 150px;
    padding: 10px 10px;
    background-color: transparent;
    border: 2px solid rgb(0, 255, 213);
    border-radius: 25px;
    color: #fff;
}

.card3 h1{
    color: transparent;
    text-align: center;
}

.card3:hover{
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.5)), url(https://s0.smartresize.com/wallpaper/399/986/HD-wallpaper-bmw-m4-ayarsizgarage-f30-f80-f82-f90-lucastrofob-m2-m3-m4-m5.jpg);
  background-size: cover;
  background-position: center;
      transition: all .9s;
    transform: scale(1.02);
}

.card3:hover .card3-text p{
    color: #fff;
    transition: all .9s;    
    display:inline;
}

.card3:hover  h1{
    display: block;
    color:#fff;
    transition: all .9s;
    transform: scale(1.02);
}

.card3:hover .card3-buttons button {
    border: 2px solid rgb(255, 166, 0);  
    transform: scale(1.02);    
    transition: all 0.5s;   
}



/* ============================ */


.card4{
    width: 400px;
    height: 500px;
    border: 1px solid rgb(0, 0, 0);
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0, 0,0, 0.5)), url(https://i.pinimg.com/videos/thumbnails/originals/b0/bf/bb/b0bfbb256d0098dc77246ef92866166f.0000000.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.card4-text{
    width: 100%;
    height: 70%;
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
}
.card4-text p{
    pad: 10px 24px;
    text-align: center;
    line-height: 2;
    display: none;
}
.card4-buttons{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.card4-buttons button{
    width: 150px;
    padding: 10px 10px;
    background-color: transparent;
    border: 2px solid rgb(0, 255, 213);
    border-radius: 25px;
    color: #fff;
}

.card4 h1{
    color: transparent;
    text-align: center;
}

.card4:hover{
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.5)), url(https://i.pinimg.com/736x/6c/fc/e8/6cfce84f07fad1b22a9a26af4a8b23f8.jpg);
  background-size: cover;
  background-position: center;
      transition: all .9s;
    transform: scale(1.02);
}

.card4:hover .card4-text p{
    color: #fff;
    transition: all .9s;    
    display:inline;
}

.card4:hover  h1{
    display: block;
    color:#fff;
    transition: all .9s;
    transform: scale(1.02);
}

.card4:hover .card4-buttons button {
    border: 2px solid rgb(255, 145, 0);  
    transform: scale(1.02);    
    transition: all 0.5s;   
}